<header>
    <div class='parent' style="padding-top: 20px;">
    <p  class='childOb' routerLink="/search-page"> Home </p>

    <p  style="color: green;" > History </p>
    <p  class='childOb'onclick = "window.location.href='register.html';"> Saved </p>
    <p  class='childOb' routerLink="/"> Disconnect </p>

    <!-- <p class='childOb' onclick = "window.location.href='AboutUs.html';" > About Us </p> -->
    <!-- <p  class='childOb' style ="scroll-behavior: smooth;" onClick="document.getElementById('middle').scrollIntoView({behavior: 'smooth' });"> Contact us</p> -->
    </div>
</header>