<header>
    <div class='parent' style="padding-top: 20px;">
    <p  class='childOb' routerLink="/search-page"> Home </p>
    <p  class='childOb' routerLink="/featured"> Featured </p>
    <p  style="color: green;" > History </p>
    <p  class='childOb'onclick = "window.location.href='/saved'" > Saved </p>
    <p  class='childOb' routerLink="/"> Disconnect </p>
    </div>
</header>

<body>
    <h3 style="margin: 30px;"> You can find the history of your searches here : </h3>

<div class="column historyDiv" *ngFor="let item of listTest" >
    <hr style="margin: 0px;">
    <h4 style="margin: 5px;"> {{item}}</h4>
    <p  style="margin: 0px; text-align-last: left; padding-left: 20px; color: gray;"> Date : 02-05-2023 </p>
    <hr style="margin: 0px;">
</div>


</body>