
<header>
    <div class='parent'>
    <p  style="color: green;"> Home </p>

    <p  class='childOb'> History </p>
    <p  class='childOb'onclick = "window.location.href='register.html';"> Saved </p>
    <p  class='childOb' routerLink="/"> Disconnect </p>

    <!-- <p class='childOb' onclick = "window.location.href='AboutUs.html';" > About Us </p> -->
    <!-- <p  class='childOb' style ="scroll-behavior: smooth;" onClick="document.getElementById('middle').scrollIntoView({behavior: 'smooth' });"> Contact us</p> -->
    </div>
</header>

<div class="maindiv">
    <img class="logo" src="../../assets/Breaking.png">
    <div class="input">
        <form>
            <input class="inputField" type="text" name="query">
            <input class="inputButtn" type="submit" value="Go">
        </form>
    </div>
</div>



