
<header>
    <div class='parent' style="padding-top: 20px;">
    <p  style="color: green;"> Home </p>
    
    <p  class='childOb' routerLink="/featured"> Featured </p>

    <p  class='childOb' routerLink="/history"> History </p>
    <p  class='childOb'onclick = "window.location.href='/saved'" > Saved </p>
    <p  class='childOb' routerLink="/"> Disconnect </p>

    </div>
</header>

<div class="maindiv" *ngIf="!search">
    <img class="logo" src="../../assets/Breaking.png">
    <div class="input">
        <form [formGroup]="vals">
            <input formControlName="input" class="inputField" type="text" name="query" >
            <input class="inputButtn" type="submit" value="Go"  (click)="goClick()">
        </form>
    </div>
</div>

<div class="maindivS" *ngIf="search && full" style="padding-left: 20px;">
    <div class="input">
        <form [formGroup]="vals">
            <img class="logo" src="../../assets/Breaking.png">
            <input formControlName="input" class="inputField" type="text" name="query">
            <input class="inputButtn" type="submit" value="Go"(click)="goClick()" >
        </form>
    </div>
    <div class="column" *ngFor="let item of listeTest; let i = index">
        <hr style="margin: 0px; width: 94%;">
        <div class="row articleRow" >
            <div class="col-12 col-md-9" >
                <h5 style="padding-top: 10px;">  {{item['title']}} </h5>
                <p style=" font-size: 17px;display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;" (click)="navigateToUrl(item['url'])"> {{item['body']}} </p>
                <div style="display: flex; justify-content: center; align-items: center;"> 

                    <span class="material-symbols-outlined saved" [ngClass]="{'clicked': clickedItems[i]}" (click)="saveNews(item['title'],item['body'],item['image'],item['url'],i)">
                        favorite
                    </span>
              
                    
                </div>
            </div>
            <div class=".col-12 col-md-3" style="max-width: 100%; max-height: 90%;">
                <img *ngIf="item['image']" src="{{item['image']}}" style="width: 100%; height: 100%; margin-top: 3%; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">
                <img *ngIf="!item['image']" src="https://cdn-icons-png.flaticon.com/512/1017/1017141.png?w=1380&t=st=1683886573~exp=1683887173~hmac=7d558bb4e60528c6c153b4c1713726a63819e186757ca82fd988969ee7d738c6" style="width: 100%; height: 100%; margin-top: 3%; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">
            </div>
        </div>
        <hr style="margin-bottom: 20px; margin-top: 0px; width: 94%; margin-left: 0px;margin-right: 0px;">
    </div>
</div>

<div class="maindiv" *ngIf="!full">

    <h1> You didn't save anything</h1>

</div>



