
    <header>
        <div class='parent'>
        <p  style="color: green;"> Home </p>
        <p  class='childOb' routerLink="/register"> Register </p>
        <p  class='childOb' routerLink="/search-page"> Login </p>

        <!-- <p class='childOb' onclick = "window.location.href='AboutUs.html';" > About Us </p> -->
        <!-- <p  class='childOb' style ="scroll-behavior: smooth;" onClick="document.getElementById('middle').scrollIntoView({behavior: 'smooth' });"> Contact us</p> -->
        </div>
    </header>
    <body>
       <div style="padding-bottom: 10px; width: 100%;">
            <h1 style ="text-align: center"> Dear readers !</h1>
            <div style ="display: inline-block; margin: 0 auto; width: 70%; padding-bottom: 20px;" >
              <p style="padding-bottom:20px ;">
                Welcome to our online news search website! Our platform is designed to provide you with quick and easy access to the latest news and information from around the world. Whether you're looking for breaking news, political updates, business news, sports updates, or entertainment gossip, we've got you covered. </p>
                <img width="70%%" height="400px" src="https://img.freepik.com/free-vector/latest-news-labels-flat-icon-set_74855-5880.jpg?w=2000&t=st=1683368533~exp=1683369133~hmac=7abcb38b22eb7c455e179721c4cf92d464feea9b3e27567ef4f403c42596e829">

                <p style="padding-bottom:20px ;">Our website aggregates news from a variety of trusted sources, including major news outlets, local newspapers, and international news agencies. You can search for news by keyword, topic, date range, or source, making it easy to find the stories that matter most to you.

                    We understand the importance of staying informed, especially in today's fast-paced world where news can break at any moment. That's why we're dedicated to providing you with accurate and up-to-date information as quickly as possible.
                </p>
                <div  class="divFuse" >
                    <div  style ="display: inline-block; margin: 0 auto; width: 100%; padding-bottom: 20px;">
                    </div>
                </div> 
            </div>
             <div style ="margin: 0 auto; width: 70%; padding-bottom: 20px;" >
                <button onclick = "window.location.href='register.html';"  >
                    Join us
                </button>
            </div> 
        </div>  
        
    </body>

    
