<body>
    <div style="padding-top:40px;padding-bottom: 20px; width: 100%;">
         <h1 style ="text-align: center"> Welcome !</h1>
         <div style ="display: inline-block; margin: 0 auto; width: 100%; padding-bottom: 20px;" >
           <p style="padding-bottom:20px ; padding-top:20px ">
            To provide the best news for you, you must answer the short following form (you can skip it).
            </p>
            <div style="display: flex; flex-direction: column; align-items: center; width: 100%;">

                <div style="width: 100%;display: flex; justify-content: center;padding-bottom: 10px;">
                    <div class='parent' style="padding-top: 20px; width: 50%;" *ngIf="!manual">
                        <p style="color: green;"> Automatic </p>
                        <p  class='childOb' (click)="manual = true" > Manual </p>         
                    </div>
                    <div class='parent' style="padding-top: 20px; width: 50%;" *ngIf="manual">
                        <p  class='childOb' (click)="manual = false"  > Automatic </p>
                        <p  style="color: green;"> Manual </p>         
                    </div>  
                </div>
                <hr style="width: 50%; border-color: black; margin: 0px; border-width: 2px; padding-bottom: 40px;">
                <textarea *ngIf="!manual" style="padding: 0; width: 50%;height: 100px; padding: 6px; margin-bottom:40px;" placeholder="If i am a work show me news about finance, but if it's the weekend or holidays show me news about basketball."></textarea>
                <form *ngIf="manual">
                    <div *ngFor="let item of listOfTopics" style="padding-bottom: 20px;">
                        <input style="cursor: pointer;" type="checkbox" id="{{item}}" name="{{item.name}}" [(ngModel)]="item.isChecked">
                        <label for="{{item}}" style="margin-left: 10px;">{{item.name}}</label>
                    </div>
                </form>
                <div>

                </div>
                
              </div>

            




         </div>
         <div style="display: flex; justify-content: center; align-items: center; width: 100%; padding-bottom: 20px;">
            <button (click)="formHandler()">
              Done
            </button>
          </div>
          <div style="display: flex; justify-content: center; align-items: center; width: 100%; padding-bottom: 20px;">
            <button style="background-color: rgb(219, 2, 2);"  (click)="skipHandler()"> 
              Skip 
            </button>
          </div>
     </div>  
     
 </body>
